<%- include('./_header') %>

<h1>Conferences</h1>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-9 personal-info">
        <% if (!isNewConference && !editingConference) { %>
          <h3>View Conference</h3>
          <a href="/conferences/<%=conference.id%>/edit">Edit Conference</a>
          <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/edit" method="post">
        <% } else if (editingConference && !isNewConference) { %>
          <h3>Edit Conference</h3>
          <a href="/conferences/<%=conference.id%>">Cancel Editing</a>
          <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/edit" method="post">
        <% } else if (isNewConference) { %>
          <h3>Create Conference</h3>
          <form class="form-horizontal" role="form" action="/conferences/new" method="post">
        <% } %>

          <div class="form-group">
            <label class="col-lg-3 control-label">Conference title:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="conference_title" value="<%= conference.title %>" required="true" <%if (!editingConference) { %> disabled <% } %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Conference date:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="conference_date" value="<%= conference.conference_date %>" required="true" <%if (!editingConference) { %> disabled <% } %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Location name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="location_name" value="<%= conference.location_name %>" required="true" <%if (!editingConference) { %> disabled <% } %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Address:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="location_address" value="<%= conference.location_address %>" required="true" <%if (!editingConference) { %> disabled <% } %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">City:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="location_city" value="<%= conference.location_city %>" required="true" <%if (!editingConference) { %> disabled <% } %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">State:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="location_state" value="WA" required="true" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Zip:</label>
            <div class="col-lg-8">
              <input class="form-control" type="number" name="location_zip" value="<%= conference.location_zip %>" required="true" <%if (!editingConference) { %> disabled <% } %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Year:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select name="year" class="form-control" required="true" <%if (!editingConference) { %> disabled <% } %>>
                  <% for (i=0; i<yearOptions.length; i++) { %>
                    <option value="<%=yearOptions[i]%>" <% if (conference.year === yearOptions[i]) { %> selected <% } %>><%= yearOptions[i] %></option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Registration Deadline:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="registration_deadline" value="<%= conference.registration_deadline %>" required="true" <%if (!editingConference) { %> disabled <% } %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Status:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select name="registration_status" class="form-control" required="true" <%if (!editingConference) { %> disabled <% } %>>
                  <option value="closed" <% if (conference.registration_status === "closed") { %> selected <% } %>>Closed for Registration</option>
                  <option value="open" <% if (conference.registration_status === "open") { %> selected <% } %>>Open for Registration</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <% if (editingConference) { %>
              <div class="col-md-8">
                <input type="submit" class="btn btn-primary" value="Save Changes">
              </div>
            <% } %>
          </div>
        </form>
      </div>
    </div>
  </div>
<hr>

<% if ((conference.id !== null) && !editingConference) { %>
  <div class="container sessions">
    <% if (sessions[0].id === null && !editingSession) { %>
      There are no sessions for this conference. Select Add a Session below to begin adding sessions.
    <% } else { %>
      <table class="table table-striped">
        <h2 class="table-head">Sessions:</h2>
        <thead>
          <tr>
            <th>Session Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Room Actions</th>
            <th>Session Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i=0; i<sessions.length; i++) { %>
            <tr>
              <% if (sessions[i].id === null) { %>
                <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/sessions/new" method="post">
                  <fieldset>
                    <td>
                      <input class="form-control" type="text" name="session_name" value="<%= sessions[i].session_name %>" required="true">
                    </td>
                    <td>
                      <input class="form-control" type="text" name="start_time" value="<%= sessions[i].start_time %>" required="true">
                    </td>
                    <td>
                      <input class="form-control" type="text" name="end_time" value="<%= sessions[i].end_time %>" required="true">
                    </td>
                    <td></td>
                    <td>
                      <input type="submit" class="btn btn-primary" value="Save Session">  <a href="/conferences/<%=conference.id%>" class="btn btn-primary">Cancel</a>
                    </td>
                  </fieldset>
                </form>
              <% } else if (sessions[i].editing) { %>
                <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/sessions/<%=sessions[i].id%>/edit" method="post">
                  <fieldset>
                    <td>
                      <input class="form-control" type="text" name="session_name" value="<%= sessions[i].session_name %>" required="true">
                    </td>
                    <td>
                      <input class="form-control" type="text" name="start_time" value="<%= sessions[i].start_time %>" required="true">
                    </td>
                    <td>
                      <input class="form-control" type="text" name="end_time" value="<%= sessions[i].end_time %>" required="true">
                    </td>
                    <td></td>
                    <td>
                      <input type="submit" class="btn btn-primary" value="Save">  <a href="/conferences/<%=conference.id%>" class="btn btn-primary">Cancel</a>
                    </td>
                  </fieldset>
                </form>
              <% } else { %>
                <td>
                  <%= sessions[i].session_name %>
                </td>
                <td>
                  <%= sessions[i].start_time %>
                </td>
                <td>
                  <%= sessions[i].end_time %>
                </td>
                <td>
                  <% if ((!sessions[i].show_rooms) && (sessions[i].rooms.length > 0) && (sessions[i].rooms[0].id !== null)) { %>
                    <a href="/conferences/<%=conference.id%>/sessions/<%=sessions[i].id%>/rooms">View Rooms</a> /
                  <% } else if (sessions[i].show_rooms) { %>
                  <a href="/conferences/<%=conference.id%>">Hide Rooms</a> /
                  <% } %>
                  <a href="/conferences/<%=conference.id%>/sessions/<%=sessions[i].id%>/rooms/new">Add Rooms</a>
                </td>
                <td>
                  <a href="/conferences/<%=conference.id%>/sessions/<%=sessions[i].id%>/edit">Edit</a> /
                  <a href="/conferences/<%=conference.id%>/sessions/<%=sessions[i].id%>/delete">Delete</a>
                </td>
                <% if (sessions[i].show_rooms) { %>
                  <tr>
                    <td colspan="4">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Room Name</th>
                          <th>Maximum Students for Scheduling</th>
                          <th>Event</th>
                          <th>Room Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                          <% for (var j=0; j<sessions[i].rooms.length; j++) { %>
                            <% if (sessions[i].rooms[j].isEditing) { %>
                              <% if (!sessions[i].rooms[j].id) { %>
                                <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/sessions/<%=sessions[i].id%>/rooms/new" method="post">
                              <% } else { %>
                                <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/sessions/<%=sessions[i].id%>/rooms/<%=sessions[i].rooms[j].id%>/edit" method="post">
                              <% } %>
                                <fieldset>
                                  <tr>
                                    <td>
                                      <input class="form-control" type="text" name="room_name" value="<%=sessions[i].rooms[j].room_name%>" required="true">
                                    </td>
                                    <td>
                                      <input class="form-control" type="text" name="max_allowed" value="<%=sessions[i].rooms[j].max_allowed%>" required="true">
                                    </td>
                                    <td>
                                      <select name="event_type_id" class="form-control" required="true" <%if (!sessions[i].rooms[j].isEditing) { %> disabled <% } %>>
                                        <% for (var k=0; k<sessions[i].rooms[j].events.length; k++) { %>
                                          <option value=<%=sessions[i].rooms[j].events[k].id%> <% if (sessions[i].rooms[j].event_type_id == sessions[i].rooms[j].events[k].id) { %> selected <% } %>><%=sessions[i].rooms[j].events[k].event_name%></option>
                                        <% } %>
                                      </select>
                                    </td>
                                    <td>
                                      <input type="submit" class="btn btn-primary" value="Save">  <a href="/conferences/<%=conference.id%>/sessions/<%=sessions[i].id%>/rooms" class="btn btn-primary">Cancel</a>
                                    </td>
                                  </tr>
                                </fieldset>
                              </form>
                            <% } else { %>
                              <tr>
                                <td>
                                  <%=sessions[i].rooms[j].room_name%>
                                </td>
                                <td>
                                  <%=sessions[i].rooms[j].max_allowed%>
                                </td>
                                <td>
                                  <select name="event_type_id" class="form-control" required="true" disabled>
                                    <% for (var k=0; k<sessions[i].rooms[j].events.length; k++) { %>
                                      <option value=<%=sessions[i].rooms[j].events[k].id%> <% if (sessions[i].rooms[j].event_type_id == sessions[i].rooms[j].events[k].id) { %> selected <% } %>><%=sessions[i].rooms[j].events[k].event_name%></option>
                                    <% } %>
                                  </select>
                                </td>
                                <td>
                                  <a href="/conferences/<%=conference.id%>/sessions/<%=sessions[i].id%>/rooms/<%=sessions[i].rooms[j].id%>/edit">Edit</a> /
                                  <a href="/conferences/<%=conference.id%>/sessions/<%=sessions[i].id%>/rooms/<%=sessions[i].rooms[j].id%>/delete">Delete</a>
                                </td>
                              </tr>
                            <% } %>
                          <% } %>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                <% } %>
              <% } %>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } %>
    <a href="/conferences/<%=conference.id%>/sessions/new">Add new session</a>
  </div>
<% } %>

<%- include('./_footer') %>
