<%- include('./_header') %>

<% if (!loggedIn) { %>
  <p>Welcome to Washington State Thespians Registration! To continue, please <a href="auth/google">sign in</a>.</p>
<% } else { %>
  <div class="conference-list">
    <% if (conferences.length === 0 && user.user_level === 1) { %>
      <div class="container no-conferences admin">
        <p>There are no conferences at this time, add some by selecting the link below.</p>
        <a href="/conferences/new">Create a Conference</a>
      </div>
    <% } else if (conferences.length === 0 && user.user_level === 2) { %>
      <div class="container no-conferences teacher">
        <p>There are no conferences at this time, check back at a later date.</p>
      </div>
    <% } else { %>
      <div class="container all-conferences">
        <table class="table table-striped">
          <h2 class="table-head">Current Conferences:</h2>
          <thead>
            <tr>
              <th>Title</th>
              <th>Year</th>
              <th>Registration Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for (var i=0; i<conferences.length; i++) { %>
              <tr>
                <td><%= conferences[i].title %></td>
                <td><%= conferences[i].year %></td>
                <td><%= conferences[i].registration_status %></td>
                <td>
                  <% if (user.user_level === 1) { %>
                    <a href="/conferences/<%=conferences[i].id%>">View </a>/<a href="conferences/<%=conferences[i].id%>/edit"> Edit</a>
                  <% } else if (conferences[i].registration_status === "open" && !conferences[i].hideActions) { %>
                    <form method="post" action="/conferences/<%=conferences[i].id%>/registration/new" class="inline">
                      <input type="hidden" name="register-form">
                      <button type="submit" class="link-button">
                        Register for this Conference
                      </button>
                    </form>
                  <% } else if (conferences[i].registration_status === "closed") { %>
                    Check back soon to register!
                  <% } %>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <% if (user.user_level === 1) { %>
          <a href="/conferences/new">Create a Conference</a>
        <% } %>
      </div>
    <% } %>
  </div>

  <div class="registration-list">
    <% if (conferences.length !== 0) { %>
      <div class="container all-registrations">
        <table class="table table-striped">
          <h2 class="table-head">Your Registrations:</h2>
          <% if (registrations.length === 0) { %>
            <div class="container no-registrations">
              <p>You have not begun registration for any conferences. Please select a conference above to register for it.</p>
            </div>
          <% } else { %>
          <thead>
            <tr>
              <th>Conference</th>
              <th>Registration Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i=0; i<registrations.length; i++) { %>
              <tr>
                <td><%= registrations[i].conference_name %></td>
                <td><%= registrations[i].status %></td>
                <td>
                  <% if (registrations[i].id) { %>
                    <a href="/conferences/<%=registrations[i].conference_id%>/registration/<%=registrations[i].id%>/edit">Edit Registration</a>
                   <% } else { %>
                    <p>Registration is now closed.</p>
                  <% } %>
                </td>
              </tr>
            <% } %>
          </tbody>
          <% } %>
        </table>
      </div>
    <% } %>
  </div>

  <div class="student-list">
    <div class="container all-students">
      <h2 class="table-head">Your Students:</h2>
      <p>This table contains all of the students that you have added via the <a href="/students">Students</a> section. By adding students there you will be able to easily register them for multiple Thespian events over their academic careers without having to enter and re-enter their information. You can also edit their information if needed.</p>
      <% if (students.length === 0) { %>
        <div class="container no-registrations">
          <p>You have not added any students, please select 'Add Students' below to add students to your virtual classroom.</p>
        </div>
      <% } else { %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Graduation Year</th>
              <th>Thespian Status</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i=0; i<students.length; i++) { %>
              <tr>
                <td><%= students[i].last_name %></td>
                <td><%= students[i].first_name %></td>
                <td><%= students[i].graduation_year %></td>
                <td>
                  <% if (students[i].thespian_status === true) { %>
                    Member
                  <% } else { %>
                    Non-Member
                  <% } %>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } %>
    </div>
    <a href="/students/new">Add Students</a>
  </div>
<% } %>


<%- include('./_footer') %>
