<%- include('./_header') %>

<h1>Registration</h1>
<p>Thank you for starting the registration process for for <%=conference.title%>! Please register students below by selecting "Add Existing Students". After a student has been added, you can add up to three events per student.</p>
<p>You can save your progress and come back to edit this registration up until <%=conference.registration_deadline%>, just make sure you press the 'save' button in whatever action you are completing before you navigate away. When you are completely finished adding students and their individual events, please press the 'Submit & Generate Invoice' button.</p>
<p><b>Please note:</b> you will be unable to edit your registration after you have submitted and generated an invoice, and you <b>must</b> press 'Submit & Generate Invoice' before the registration deadline listed above.</p>

<% if (students.length === 0) { %>
<p>Before continuing with this registration, please add students to your Student portal by selecting <a href="/students">Students</a> in the navigation bar at the top of this page.</p>
<% } else if (registered_students.length === 0 && !isAddingOrRemoving) { %>
  <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/editStudents">Add Existing Students</a>
<% } else if (!isAddingOrRemoving) { %>
  <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/editStudents">Add or Remove Existing Students</a>
  <h2>Registered Students</h2>
  <p>This registration contains the following students. If you would like to add or remove students, please select "Add or Remove Existing Students" above. If you would like to register students that you have not yet added to your Student portal, please add them to your Student portal first, and come back here to register them.</p>
  <p>To register an individual student for an IE select 'Add New Event,' fill out the form that appears, and press save. Duo events will only need to be added once. After saving a duo event it will register for both students.</p>
  <p>To view a student's events select "Show Registered Events" in the student's row. Once they appear, you may edit or delete events by selecting the appropriate link. Deleting an event is final. If it needs to be re-added you will have to enter all information again.</p>
  <p>Group Musical and Group Acting events that you have added are listed in the table below your registered students. To register a Group Musical or Group Acting event, select "Add Group Event". Group events will be listed in any participating student's registered events list, but can only be edited or deleted by selecting edit or delete in the Group Events table.</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Graduation Year</th>
        <th>Thespian Status</th>
        <th>IE Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i<registered_students.length; i++) { %>
        <tr>
          <td><%= registered_students[i].last_name %></td>
          <td><%= registered_students[i].first_name %></td>
          <td><%= registered_students[i].graduation_year %></td>
          <td>
            <% if (registered_students[i].thespian_status === true) { %>
              Member
            <% } else { %>
              Non-Member
            <% } %>
          </td>
          <td>
            <% if (registered_students[i].events.length > 0 && !registered_students[i].show_events) { %>
              <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/student/<%=registered_students[i].student_id%>/ies">Show Registered Events</a>
            <% } else if (registered_students[i].events.length > 0 && registered_students[i].show_events) { %>
              <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/edit">Hide Registered Events</a>
            <% } %>
            <% if (registered_students[i].events.length < 3) { %>
              <% if (registered_students[i].events.length > 0) { %>
                /
              <% } %>
               <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/student/<%=registered_students[i].student_id%>/ies/new">Add New Event</a>
            <% } %>
          </td>

          <% if (registered_students[i].show_events) { %>
            <tr>
              <td colspan="5">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Event Type</th>
                      <th>Piece Title</th>
                      <th>Piece Author</th>
                      <th>Piece Publisher</th>
                      <th>Partner (if applicable)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var j=0; j<registered_students[i].events.length; j++) { %>
                      <% if (registered_students[i].events[j].isEditing) { %>
                        <% if (!registered_students[i].events[j].id) { %>
                          <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/registration/<%=registration.id%>/student/<%=registered_students[i].student_id%>/ies/new" method="post">
                        <% } else { %>
                          <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/registration/<%=registration.id%>/student/<%=registered_students[i].student_id%>/ies/<%=registered_students[i].events[j].id%>/edit" method="post">
                        <% } %>
                            <fieldset>
                              <tr>
                                <td>
                                  <select name="event_type_id" class="form-control" required="true" <%if (registered_students[i].events[j].id) { %> disabled <% } %>>
                                    <% for (var k=0; k<registered_students[i].options.length; k++) { %>
                                    <option value=<%=registered_students[i].options[k].id%> <% if (registered_students[i].events[j].event_type_id == registered_students[i].options[k].id) { %> selected <% } %>>
                                      <%=registered_students[i].options[k].event_name%>
                                    </option>
                                    <% } %>
                                  </select>
                                </td>
                                <td>
                                  <input class="form-control" type="text" name="piece_title" value="<%=registered_students[i].events[j].piece_title%>" required="true">
                                </td>
                                <td>
                                  <input class="form-control" type="text" name="piece_author" value="<%=registered_students[i].events[j].piece_author%>" required="true">
                                </td>
                                <td>
                                  <input class="form-control" type="text" name="piece_publisher" value="<%=registered_students[i].events[j].piece_publisher%>" required="true">
                                </td>
                                <td>
                                  <select name="secondary_student_id" class="form-control" <% if (registered_students[i].events[j].id) { %> disabled <% } %>>
                                    <% for (var m=0; m<registered_students.length; m++) { %>
                                      <% if (m === 0) { %>
                                        <option value=<%=0%> <% if (registered_students[i].events[j].secondary_student_id === 0) { %> selected <% } %>>
                                          Not Applicable
                                        </option>
                                      <% } %>
                                      <% if (registered_students[m].student_id !== registered_students[i].student_id) { %>
                                        <option value=<%=registered_students[m].student_id%> <% if ((registered_students[i].events[j].secondary_student_id === registered_students[m].student_id) || ((registered_students[i].student_id === registered_students[i].events[j].secondary_student_id) && (registered_students[i].events[j].primary_student_id === registered_students[m].student_id))) { %> selected <% } %>>
                                          <%=registered_students[m].first_name%> <%=registered_students[m].last_name%>
                                        </option>
                                      <% } %>
                                    <% } %>
                                  </select>
                                </td>
                                <td>
                                  <input type="submit" class="btn btn-primary" value="Save">  <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/edit" class="btn btn-primary">Cancel</a>
                                </td>
                              </tr>
                            </fieldset>
                          </form>
                      <% } else { %>
                        <tr>
                          <td>
                            <select name="event_type_id" class="form-control" required="true" disabled>
                              <% for (var k=0; k<registered_students[i].options.length; k++) { %>
                                <option value=<%=registered_students[i].options[k].id%> <% if (registered_students[i].events[j].event_type_id == registered_students[i].options[k].id) { %> selected <% } %>>
                                  <%=registered_students[i].options[k].event_name%>
                                </option>
                              <% } %>
                            </select>
                          </td>
                          <td>
                            <%=registered_students[i].events[j].piece_title%>
                          </td>
                          <td>
                            <%=registered_students[i].events[j].piece_author%>
                          </td>
                          <td>
                            <%=registered_students[i].events[j].piece_publisher%>
                          </td>
                          <td>
                            <select name="secondary_student_id" class="form-control" required="true" <%if (!registered_students[i].events[j].isEditing) { %> disabled <% } %>>
                              <% for (var m=0; m<registered_students.length; m++) { %>
                              <% if (m === 0 && registered_students[i].events[j].secondary_student_id === 0) { %>
                                  <option value=<%=0%> selected>
                                    Not Applicable
                                  </option>
                                <% } else if ((registered_students[i].student_id === registered_students[i].events[j].secondary_student_id) && (registered_students[i].events[j].primary_student_id === registered_students[m].student_id)) { %>
                                  <option value=<%=registered_students[m].student_id%> selected>
                                    <%=registered_students[m].first_name%> <%=registered_students[m].last_name%>
                                  </option>
                                <% } else if ((registered_students[i].events[j].secondary_student_id === registered_students[m].student_id) && !(registered_students[i].student_id === registered_students[i].events[j].secondary_student_id)) { %>
                                  <option value=<%=registered_students[m].student_id%> selected>
                                    <%=registered_students[m].first_name%> <%=registered_students[m].last_name%>
                                  </option>
                                <% } %>
                              <% } %>
                            </select>
                          </td>
                          <td>
                            <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/student/<%=registered_students[i].student_id%>/ies/<%=registered_students[i].events[j].id%>/edit">Edit</a> /
                            <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/student/<%=registered_students[i].student_id%>/ies/<%=registered_students[i].events[j].id%>/delete">Delete</a>
                          </td>
                        </tr>
                      <% } %>
                    <% } %>
                  </tbody>
                </table>
              </td>
            </tr>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>

<% if (group_events.length > 0) { %>
  <h2>Registered Group Events</h2>
  <p>You have registered for the following group events.</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event Type</th>
        <th>Piece Title</th>
        <th>Piece Author</th>
        <th>Piece Publisher</th>
        <th>
          <% if (group_events[0].id) { %>
            Add/Remove Students
          <% } %>
        </th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i<group_events.length; i++) { %>
        <tr>
          <% if (!group_events[i].isEditing) { %>
            <td>
              <select name="group_event_type_id" class="form-control" required="true" disabled>
                <% for (var j=0; j<group_options.length; j++) { %>
                  <option value=<%=group_options[j].id%> <% if (group_events[i].event_type_id == group_options[j].id) { %> selected <% } %>>
                    <%=group_options[j].event_name%>
                  </option>
                <% } %>
              </select>
            </td>
            <td><%=group_events[i].piece_title%></td>
            <td><%=group_events[i].piece_author%></td>
            <td><%=group_events[i].piece_publisher%></td>
            <td>
              <% if (!group_events[i].isAddingOrRemovingGroup) { %>
                <% if (!group_events[i].showParticipatingStudents && group_events[i].participatingStudents.length > 0) { %>
                  <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/group/<%=group_events[i].id%>/showStudents">Show Participating Students</a> /
                <% } else if (group_events[i].showParticipatingStudents) { %>
                  <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/edit">Hide Participating Students</a> /
                <% } %>
                <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/group/<%=group_events[i].id%>/editStudents">Add or Remove Students</a>
              <% } %>
            </td>
            <td>
              <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/group/<%=group_events[i].id%>/edit">Edit</a> /
              <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/group/<%=group_events[i].id%>/delete">Delete</a>
            </td>
            <% if (group_events[i].isAddingOrRemovingGroup) { %>
              <tr>
                <table class="table table-striped">
                  <tbody>
                    <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/registration/<%=registration.id%>/group/<%=group_events[i].id%>/editStudents" method="post">
                      <fieldset>
                        <% for (var j=0; j<group_events[i].participatingStudents.length; j++) { %>
                          <tr>
                            <td>
                              <input id="group-student" type="checkbox" name="add_remove_toggle" value="<%=group_events[i].participatingStudents[j].student_id%>" <% if (group_events[i].participatingStudents[j].participating === true) { %> checked <% } %>>
                            </td>
                            <td>
                              <%= group_events[i].participatingStudents[j].first_name %> <%= group_events[i].participatingStudents[j].last_name %>
                            </td>
                          </tr>
                        <% } %>
                        <tr>
                          <input type="submit" class="btn btn-primary" value="Save">
                          <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/group/<%=group_events[i].id%>/showStudents" class="btn btn-primary">Cancel</a>
                        </tr>
                      </fieldset>
                    </form>
                  </tbody>
                </table>
              </tr>
            <% } else if (group_events[i].showParticipatingStudents) { %>
              <tr>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Participating Students</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var j=0; j<group_events[i].participatingStudents.length; j++) { %>
                      <tr>
                        <td>
                          <%= group_events[i].participatingStudents[j].first_name %> <%= group_events[i].participatingStudents[j].last_name %>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </tr>
            <% } %>
          <% } else { %>
            <% if (group_events[i].isEditing && !group_events[i].id) { %>
              <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/registration/<%=registration.id%>/group/new" method="post">
            <% } else if (group_events[i].isEditing) { %>
              <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/registration/<%=registration.id%>/group/<%=group_events[i].id%>/edit" method="post">
            <% } %>
                <fieldset>
                  <tr>
                    <td>
                      <select name="group_event_type_id" class="form-control" required="true">
                        <% for (var j=0; j<group_options.length; j++) { %>
                          <option value=<%=group_options[j].id%> <% if (group_events[i].event_type_id == group_options[j].id) { %> selected <% } %>>
                            <%=group_options[j].event_name%>
                          </option>
                        <% } %>
                      </select>
                    </td>
                    <td>
                      <input class="form-control" type="text" name="group_piece_title" value="<%=group_events[i].piece_title%>" required="true">
                    </td>
                    <td>
                      <input class="form-control" type="text" name="group_piece_author" value="<%=group_events[i].piece_author%>" required="true">
                    </td>
                    <td>
                      <input class="form-control" type="text" name="group_piece_publisher" value="<%=group_events[i].piece_publisher%>" required="true">
                    </td>
                    <td></td>
                    <td>
                      <input type="submit" class="btn btn-primary" value="Save">
                      <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/edit" class="btn btn-primary">Cancel</a>
                    </td>
                  </tr>
                </fieldset>
              </form>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } %>

<a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/group/new">Add Group Event</a>

<% } else if (isAddingOrRemoving) { %>
  <h2>Add or Remove Students</h2>
  <p>To register a student check the box next to their name. To remove a student from this registration, uncheck the box. If you remove a student from a registration, any solo or duo individual events (acting, musical, or tech) that a student is registered for will also be deleted. If the student is a part of a Group Acting or Group Musical individual event, the Group event will *not* be deleted, but the student will be removed from the Group event.</p>
  <p>When you are done adding and removing students, select 'Save' below.</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Graduation Year</th>
        <th>Thespian Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/registration/<%=registration.id%>/editStudents" method="post">
        <fieldset>
          <% for (var i=0; i<students.length; i++) { %>
            <tr>
              <td>
                <input id="register-student" type="checkbox" name="register" value="<%=students[i].id%>" <% if (students[i].registered === true) { %> checked <% } %>>
              </td>
              <td><%= students[i].last_name %></td>
              <td><%= students[i].first_name %></td>
              <td><%= students[i].graduation_year %></td>
              <td>
                <% if (students[i].thespian_status === true) { %>
                  Member
                <% } else { %>
                  Non-Member
                <% } %>
              </td>
            </tr>
          <% } %>
          <input type="submit" class="btn btn-primary" value="Save">
        </fieldset>
      </form>
    </tbody>
  </table>
<% } %>

<% if (registered_students.length > 0) { %>
  <form method="post" action="/conferences/<%=conference.id%>/registration/<%=registration.id%>/invoice/new">
    <input type="hidden" name="submit_registration" value=<%=registration.id%>>
    <input type="submit" value="Submit & Generate Invoice">
  </form>
<% } %>
<%- include('./_footer') %>
