<%- include('./_header') %>

<h1>Registration</h1>
<p>Thank you for starting the registration process for for <%=conference.title%>! Please register students below by selecting "Add Existing Students". After a student has been added, you can add up to three events per student.</p>
<p>You can save your progress and come back to edit this registration up until <%=conference.registration_deadline%>, just make sure you press the 'save' button in whatever action you are completing before you navigate away. When you are completely finished adding students and their individual events, please press the 'Submit & Generate Invoice' button.</p>
<p><b>Please note:</b> you will be unable to edit your registration after you have submitted and generated an invoice, and you <b>must</b> press 'Submit & Generate Invoice' before the registration deadline listed above.</p>

<% if (students.length === 0) { %>
<p>Before continuing with this registration, please add students to your Student portal by selecting <a href="/students">Students</a> in the navigation bar at the top of this page.</p>
<% } else if (registered_students.length === 0 && !isAddingOrRemoving) { %>
  <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/editStudents">Add Existing Students</a>
<% } else if (!isAddingOrRemoving) { %>
  <a href="/conferences/<%=conference.id%>/registration/<%=registration.id%>/editStudents">Add or Remove Existing Students</a>
  <h2>Registered Students</h2>
  <p>This registration contains the following students. If you would like to add or remove students, please select "Add or Remove Existing Students" above. If you would like to register students that you have not yet added to your Student portal, please add them to your Student portal first, and come back here to register them.</p>
  <p>To register an individual student for an event select the desired IE Action link in the student's row, fill out the form that appears, and press "Save". Select "Add Solo Event" for Monologue and Solo Musical, select "Add Duo Event" for Duo Scene and Duet Musical, and select "Add Technical Event" to add any of the technical categories. Duo events will only need to be added once. After saving a duo event it will register for both students.</p>
  <p>To view a student's events select "Show Registered Events" in the student's row. Once they appear, you may edit or delete events by selecting the appropriate link. Deleting an event is final. If it needs to be re-added you will have to enter all information again. </p>
  <p>Group Musical and Group Acting events that you have added are listed in the table below your registered students. To register a Group Musical or Group Acting event, select "Add Group Event". Group events will be listed in any participating student's registered events list, but can only be edited or deleted by selecting edit or delete in the Group Events table.</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Graduation Year</th>
        <th>Thespian Status</th>
        <th>IE Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i<registered_students.length; i++) { %>
        <tr>
          <td><%= registered_students[i].last_name %></td>
          <td><%= registered_students[i].first_name %></td>
          <td><%= registered_students[i].graduation_year %></td>
          <td>
            <% if (registered_students[i].thespian_status === true) { %>
              Member
            <% } else { %>
              Non-Member
            <% } %>
          </td>
          <td>
            <% if (registered_students[i].events) { %>
              <a href="">Show Registered Events</a> /
            <% } %>
            <% if (registered_students[i].events.length < 3) { %>
              <a href="">Add Solo Event</a> / <a href="">Add Duo Event</a> /
            <% } %>
            <% if ((registered_students[i].events.length <= 2) || ((registered_students[i].events.length === 3) && (registered_students[i].overachiever === true)) ) { %>
              <a href="">Add Technical Event</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } else if (isAddingOrRemoving) { %>
  <h2>Add or Remove Students</h2>
  <p>To register a student check the box next to their name. To remove a student from this registration, uncheck the box. If you remove a student from a registration, any solo or duo individual events (acting, musical, or tech) that a student is registered for will also be deleted. If the student is a part of a Group Acting or Group Musical individual event, the Group event will *not* be deleted, but the student will be removed from the Group event.</p>
  <p>When you are done adding and removing students, select 'Save' below.</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Graduation Year</th>
        <th>Thespian Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <form class="form-horizontal" role="form" action="/conferences/<%=conference.id%>/registration/<%=registration.id%>/editStudents" method="post">
        <fieldset>
          <% for (var i=0; i<students.length; i++) { %>
            <tr>
              <td>
                <input id="register-student" type="checkbox" name="register" value="<%=students[i].id%>" <% if (students[i].registered === true) { %> checked <% } %>>
              </td>
              <td><%= students[i].last_name %></td>
              <td><%= students[i].first_name %></td>
              <td><%= students[i].graduation_year %></td>
              <td>
                <% if (students[i].thespian_status === true) { %>
                  Member
                <% } else { %>
                  Non-Member
                <% } %>
              </td>
            </tr>
          <% } %>
          <input type="submit" class="btn btn-primary" value="Save">
        </fieldset>
      </form>
    </tbody>
  </table>
<% } %>
<%- include('./_footer') %>
